# Day 10 - Exercise 1

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [75]:
titles = pd.read_csv('titles.csv')

print("Data-Set Glimpse..", end=' ')

titles.head()

Data-Set Glimpse..

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

# 1. How many movies are listed in the titles dataframe?

In [73]:
total_movies = titles.shape[0]

print("Total movies in the data-frame are:",total_movies)

Total movies in the data-frame are: 244914

# 2. What are the earliest two films llisted in the titles dataframe?

In [8]:
import pandas as pd

earliest_films = titles['title'].iloc[0:2]

print(earliest_films)

0    Tasveer Mere Sanam
1              Only You
Name: title, dtype: object

# 3. How many movies have the title "Hamlet"?

In [71]:
hamlet_movies = titles[titles['title'] == 'Hamlet']

num_hamlet_movies = hamlet_movies.shape[0]

print(f'Total number of movies with the title "Hamlet" are: {num_hamlet_movies}')

Total number of movies with the title "Hamlet" are: 20

# 4. How many movies are titled "North by Northwest"?

In [11]:
north_by_northwest_movies = titles[titles['title'] == 'North by Northwest']

num_north_by_northwest_movies = north_by_northwest_movies.shape[0]

print(f'Total number of movies titled "North by Northwest": {num_north_by_northwest_movies}')

Total number of movies titled "North by Northwest": 1

# 5. When was the first movie titled "Hamlet made?

In [12]:
hamlet_movies = titles[titles['title'] == 'Hamlet']

first_hamlet_movie_year = hamlet_movies['year'].min()

print(f"The first movie titled 'Hamlet' was made in the year {first_hamlet_movie_year}.")

The first movie titled 'Hamlet' was made in the year 1910.

# 6. List all of the Treasure Island" movies from earliest to most recent.

In [13]:
treasure_island_movies = titles[titles['title'] == 'Treasure Island']

treasure_island_movies_sorted = treasure_island_movies.sort_values(by='year')

print(treasure_island_movies_sorted[['title', 'year']])

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

# 7. How many movies were made In the year 1950?

In [14]:
movies_1950 = titles[titles['year'] == 1950]

num_movies_1950 = len(movies_1950)

print(f'Total number of movies made in the year 1950: {num_movies_1950}')

Total number of movies made in the year 1950: 1113

# 8. How many movies were made In the year 1960?

In [15]:
movies_1960 = titles[titles['year'] == 1960]

num_movies_1960 = len(movies_1960)

print(f'Total number of movies made in the year 1960: {num_movies_1960}')

Total number of movies made in the year 1960: 1549

# 9. How many movies were made from 1950 through 1959?

In [16]:
movies_1950s = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)]

num_movies_1950s = len(movies_1950s)

print(f'Total number of movies made from 1950 through 1959: {num_movies_1950s}')

Total number of movies made from 1950 through 1959: 12934

# 10. In what years has a movie titled "Batman" been released?

In [22]:
batman_movies = titles[titles['title'] == 'Batman']

release_years = batman_movies['year'].unique()

print(f"Years in which a movie titled 'Batman' has been released are: {', '.join(map(str, release_years))}")

Years in which a movie titled 'Batman' has been released are: 1943, 1989

# 11. How many roles were there in the movie "Inception'?

In [25]:
#--------------- Import Cast Dataset ---------------#

cast = pd.read_csv('cast.csv')

inception_roles = cast[cast['title'] == 'Inception']

num_roles_inception = len(inception_roles)

print(f'Total number of roles in the movie "Inception is ": {num_roles_inception}')

Total number of roles in the movie "Inception is ": 78

# 12. How many roles In the movie Inception" are NOT ranked by an "n" value?

In [59]:
inception_roles = cast[cast['title'] == 'Inception']

num_unranked_roles_inception = inception_roles['n'].isnull().sum()

print(f'Total number of unranked roles in the movie "Inception" are: {num_unranked_roles_inception}')

Total number of unranked roles in the movie "Inception" are: 27

# 13. But how many roles in the movie "Inception" did receive an "n" value?

In [60]:
inception_roles = cast[cast['title'] == 'Inception']

num_ranked_roles_inception = inception_roles['n'].count()

print(f'Total number of roles in the movie "Inception" with an "n" value are: {num_ranked_roles_inception}')

Total number of roles in the movie "Inception" with an "n" value are: 51

# 14. Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [29]:
north_by_northwest_cast = cast[(cast['title'] == 'North by Northwest') & (cast['n'].notna())]

north_cast_sorted = north_by_northwest_cast.sort_values(by='n')

print(north_cast_sorted[['n', 'name']])

            n                  name
871426    1.0            Cary Grant
3518333   2.0       Eva Marie Saint
1457165   3.0           James Mason
3157232   4.0   Jessie Royce Landis
356707    5.0        Leo G. Carroll
3048272   6.0  Josephine Hutchinson
1695173   7.0           Philip Ober
1275337   8.0         Martin Landau
2447081   9.0         Adam Williams
1811387  10.0          Edward Platt
665768   11.0     Robert Ellenstein
2295714  12.0          Les Tremayne
464736   13.0       Philip Coolidge
1508344  14.0         Patrick McVey
206471   15.0          Edward Binns
1384780  16.0             Ken Lynch

# 15. Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [30]:
sleuth_1972_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972)]

sleuth_cast_sorted = sleuth_1972_cast.sort_values(by='n')

print(sleuth_cast_sorted[['n', 'name']])

           n                name
1705394  1.0    Laurence Olivier
326773   2.0       Michael Caine
373876   3.0      Alec Cawthorne
1465483  4.0  John (II) Matthews
2724553  5.0  Eve (III) Channing
1448690  6.0        Teddy Martin

# 16. Now display the entire cast, in "n"-order. of the 2007 version of "Sleuth".

In [31]:
sleuth_2007_cast = cast.query('title == "Sleuth" and year == 2007')

sleuth_2007_cast_sorted = sleuth_2007_cast.sort_values(by='n')

print(sleuth_2007_cast_sorted[['n', 'name']])

           n                 name
326774   1.0        Michael Caine
1293634  2.0             Jude Law
1805907  3.0        Harold Pinter
260242   NaN      Kenneth Branagh
373877   NaN  Alec (II) Cawthorne
2724552  NaN    Eve (II) Channing
3370424  NaN    Carmel O'Sullivan

# 17. How many roles were credited in the silent 1921 version of Hamlet?

In [32]:
hamlet_1921_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]

creditedroles_hamlet_1921 = len(hamlet_1921_cast)

print(f'Total number of credited roles in the silent 1921 version of "Hamlet are": {creditedroles_hamlet_1921}')

Total number of credited roles in the silent 1921 version of "Hamlet are": 9

# 18. How many roles were credited in Branagh's 1996 Hamlet?

In [36]:
branagh_hamlet_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996) & (cast['name'] == 'Kenneth Branagh')]

creditedroles_branagh_hamlet = len(branagh_hamlet_cast)

print(f'Total number of credited roles in Branaghs 1996 "Hamlet" are: {creditedroles_branagh_hamlet}')

Total number of credited roles in Branaghs 1996 "Hamlet" are: 1

# 19. How many "Hamlet" roles have been listed in all film credits through history?

In [38]:
hamlet_roles = cast[cast['title'] == 'Hamlet']

total_hamlet_roles = len(hamlet_roles)

print(f'Total number of "Hamlet" roles in all film credits through history are: {total_hamlet_roles}')

Total number of "Hamlet" roles in all film credits through history are: 342

# 20. How many people have played an "Ophelia"?

In [42]:
ophelia_people = cast[cast['character'] == 'Ophelia']

num_ophelia_people = ophelia_people['name'].nunique()

print(f'Total number of people who have played "Ophelia" are: {num_ophelia_people}')

Total number of people who have played "Ophelia" are: 115

# 21. How many people have played a role called "The Dude"?

In [41]:
the_dude_people = cast[cast['character'] == 'The Dude']

total_dude_people = the_dude_people['name'].nunique()

print(f'Total number of people who have played a role called "The Dude" are: {total_dude_people}')

Total number of people who have played a role called "The Dude" are: 19

# 22. How many people have played a role called "The Stranger"?

In [44]:
stranger_role_actors = cast[cast['character'] == 'The Stranger']

total_stranger_actors = stranger_role_actors['name'].nunique()

print(f'Total number of actors who have played a role called "The Stranger" are: {total_stranger_actors}')

Total number of actors who have played a role called "The Stranger" are: 202

# 23. How many roles has Sidney Poitier played throughout his career?

In [46]:
sidney_poitier_roles = cast[cast['name'] == 'Sidney Poitier']

total_sidney_poitier_roles = len(sidney_poitier_roles)

print(f'Total number of roles played by Sidney Poitier throughout his career are: {total_sidney_poitier_roles}')

Total number of roles played by Sidney Poitier throughout his career are: 43

# 24. How many roles has Judi Dench played?

In [48]:
judi_dench_roles = cast[cast['name'] == 'Judi Dench']

total_judi_dench_roles = len(judi_dench_roles)

print(f'Total number of roles played by Judi Dench are: {total_judi_dench_roles}')

Total number of roles played by Judi Dench are: 55

# 25. List the supporting roles (having n=.2) played by Cary Grant in the 1940s. in order by year.

In [56]:
cary_supp_roles = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 0.2) & (cast['year'].between(1940, 1949))]

cary_supp_roles = cary_supp_roles.sort_values(by='year')

print(cary_supp_roles[['character', 'year']])

Empty DataFrame
Columns: [character, year]
Index: []

# 26. List the leading roles that Cary Grant played in the 1940s in order by year.

In [58]:
cary_leading_roles = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1.0) & (cast['year'].between(1940, 1949))]

total_leading_roles = cary_leading_roles.sort_values(by='year')

print(total_leading_roles[['year', 'character']])

        year                             character
871448  1940                           Matt Howard
871407  1940                          Walter Burns
871450  1940                    C. K. Dexter Haven
871438  1941                      Johnnie Aysgarth
871452  1942                          Leopold Dilg
871429  1942                 Patrick 'Pat' O'Toole
871398  1943                         Capt. Cassidy
871422  1943  Joe Adams -posing as Joe Bascopolous
871430  1944                           Jerry Flynn
871390  1944                     Mortimer Brewster
871425  1944                            Ernie Mott
871424  1946                           Cole Porter
871427  1946                                Devlin
871444  1947                           Dick Nugent
871445  1947                                Dudley
871421  1948                         Jim Blandings
871402  1948                     Dr. Madison Brown
871411  1949                 Captain Henri Rochard

# 27. How many roles were available for actors in the 1950s?

In [62]:
roles_in_1950s = cast[cast['year'].between(1950, 1959)]

total_roles_in_1950s = len(roles_in_1950s)

print(f'Total number of roles available for actors in the 1950s are: {total_roles_in_1950s}')

Total number of roles available for actors in the 1950s are: 215471

# 28. How many roles were available for actresses in the 1950s?

In [63]:
actress_roles_in_1950s = cast[(cast['year'].between(1950, 1959)) & (cast['type'] == 'actress')]

total_actress_roles_in_1950s = len(actress_roles_in_1950s)

print(f'Total number of roles available for actresses in the 1950s are: {total_actress_roles_in_1950s}')

Total number of roles available for actresses in the 1950s are: 57733

# 29. How many leading roles (n=1) were available from the beginning of film history through 1980?

In [68]:
leading_roles_1980 = cast[(cast['n'] == 1.0) & (cast['year'] <= 1980)]

total_leading_roles_1980 = len(leading_roles_1980)

print(f'Total number of leading roles available through 1980 are: {total_leading_roles_1980}')

Total number of leading roles available through 1980 are: 65140

# 30. How many non-leading roles were available through from the beginning of film history through 1980?

In [67]:
non_leading_roles_1980 = cast[(cast['n'] != 1.0) & (cast['year'] <= 1980)]

total_non_leading_roles = len(non_leading_roles_1980)

print(f'Total number of non-leading roles through 1980 are: {total_non_leading_roles}')

Total number of non-leading roles through 1980 are: 1117667

# 31. How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [70]:
roles_minor = cast[(cast['n'].isna()) & (cast['year'] <= 1980)]

total_minor_roles = len(roles_minor)

print(f'Total number of Minor roles through 1980 are: {total_minor_roles}')

Total number of Minor roles through 1980 are: 448347