# Language Fundamentals:

# 1. Manipulate using a list.

In [12]:
#1(i) 

list1 = [10, 20, 30]

element = 40    

list1.append(element)

print(list1)

[10, 20, 30, 40]

In [20]:
#1(ii)

list2 = [1, 2, 3, 4, 5]

list2.reverse()

print(list2)

[5, 4, 3, 2, 1]

In [14]:
#1(iii)

list2*3

[5, 4, 3, 2, 1, 5, 4, 3, 2, 1, 5, 4, 3, 2, 1]

In [17]:
#1(iv)

print(list1 + list2)

[10, 20, 30, 40, 5, 4, 3, 2, 1]

In [27]:
#1(v)

list3 = [9, 5, 11, 8, 21, 15]

list3.sort()

print(list3)

[5, 8, 9, 11, 15, 21]

# 2. Write a Python program to do in the tuples(Manipulate using tuple).

In [29]:
#2(ii)

tuple1 = (10, 20, 30)

new_tuple = tuple1 + (40, 50, 60, 70, 80, 90, 100)

print(new_tuple)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [30]:
#2(iii)

tuple2 = (10, 20, 30, 40, 50)

tuple_reversed = tuple2[::-1]

print(tuple_reversed)

(50, 40, 30, 20, 10)

In [33]:
#2(iv)

tuple3 = ('T', 'U', 'P', 'L', 'E', 'S')

tuple_repeated = tuple3 * 2

print(tuple_repeated)

('T', 'U', 'P', 'L', 'E', 'S', 'T', 'U', 'P', 'L', 'E', 'S')

In [34]:
#2(v)

tuple4 = ('C', 'O', 'N')

tuple5 = ('C', 'A', 'T')

tuple_concat = tuple4 + tuple5

print(tuple_concat)

('C', 'O', 'N', 'C', 'A', 'T')

In [38]:
#2(vi)

tuple_unsorted = (5, 10, 8, 40, 20)

tuple_sorted = sorted(tuple_unsorted)

print(tuple_sorted)

[5, 8, 10, 20, 40]

# 3. Write a python program to implement the following using list:

In [39]:
#3(i)

list_int = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [40]:
#3(ii)

print(list_int[-1])

100

In [41]:
#3(iii)

print(list_int[0:4])

[10, 20, 30, 40]

In [42]:
#3(iv)

print(list_int[2:])

[30, 40, 50, 60, 70, 80, 90, 100]

In [43]:
#3(v)

print(list_int[:6])

[10, 20, 30, 40, 50, 60]

# 4. Write a python program: tuple1 = (10, 50, 20, 40, 30)

In [45]:
#4(i)

tuple1 = (10, 50, 20, 40, 30)

print(tuple1[:2])

(10, 50)

In [47]:
#4(ii)

tuple1_length = len(tuple1)

print(tuple1_length)

5

In [48]:
#4(iii)

min_tuple1 = min(tuple1)

print(min_tuple1)

10

In [49]:
#4(iv)

sum_tuple1 = sum(tuple1)

print(sum_tuple1)

150

In [50]:
#4(v)

repeated_tuple1 = tuple1 * 2

print(repeated_tuple1)

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a Python Program:

In [2]:
#5(i)

string1 = input('Enter a String: ')

length_string1 = len(string1)

print(f'The length of {string1} is', length_string1)

Enter a String: Python Fundamentals
The length of Python Fundamentals is 19

In [3]:
#5(ii)

string_reversed = string1[::-1]

print(string_reversed)

slatnemadnuF nohtyP

In [5]:
#5(iii)

repeated_string1 = string1 * 4

print(repeated_string1)

Python FundamentalsPython FundamentalsPython FundamentalsPython Fundamentals

In [18]:
#5(iv)

firstString = "Hello, "

secondString1 = "Python!"

new_StringFormed = firstString + secondString1

print(new_StringFormed)

Hello, Python!

In [19]:
#5(v)

userStr1 = "South India"

strSliced = userStr1[5:]

print(strSliced)

 India

# 6. Perform the following

In [20]:
#6(i)

dict1 = {"Name": "Python", "Feature": "Can be used in analysis and data-science field", "Founded": 1991}

print(dict1)

{'Name': 'Python', 'Feature': 'Can be used in analysis and data-science field', 'Founded': 1991}

In [25]:
#6(ii)

dict1Name = dict1["Name"]

print(dict1Name)

dict1Feature = dict1["Feature"]

print(dict1Feature)

dict1Founded = dict1["Founded"]

print(dict1Founded)

Python
Can be used in analysis and data-science field
1991

In [42]:
#6(iii)

def updatedDict(user_dict, key, value):
    
    user_dict[key] = value

user_dict = {
    
    "name": "User1",
    
    "prgLang": "Python",
    
    "Exp": 1
}


updatedDict(user_dict, "organization", "Mphasis")

print(user_dict)

{'name': 'User1', 'prgLang': 'Python', 'Exp': 1, 'organization': 'Mphasis'}

In [44]:
#6(iv)

del user_dict["prgLang"]

del user_dict["Exp"]

print("Modified Dictionary", user_dict)

Modified Dictionary {'name': 'User1', 'organization': 'Mphasis'}

In [45]:
#7

list5 = [20, 40, 60, 80, 100]

def numberInsertion(num, pos):
    
    list5.insert(pos, num)

print("Initial List: ", list5)

numberInsertion(120, 5)

print("Modified List: ", list5)

Initial List:  [20, 40, 60, 80, 100]
Modified List:  [20, 40, 60, 80, 100, 120]

In [59]:
#8

list6 = [100, 200, 300, 400, 500]

print("Initial List: ", list6)

def elementDelByIndex(index):
    
    if index < len(list6):
        
        deletedNumber = list6[index]
        
        del list6[index]
        
        print("Element present at index", index, "is deleted i.e: ", deletedNumber)
        
    else:
        
        print("Entered Index is beyond length of the list..")



userInput = int(input('Enter a position you like to delete element: '))

elementDelByIndex(userInput)  

print("Updated List:", list6)

Initial List:  [100, 200, 300, 400, 500]
Enter a position you like to delete element: 2
Element present at index 2 is deleted i.e:  300
Updated List: [100, 200, 400, 500]

In [56]:
#9

for i in range(1, 101):
    
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [58]:
#10

user_tuple = (2, 4, 6, 8, 10)

tuple_sum = sum(user_tuple)

print("Sum of tuple elements is: ", tuple_sum)

Sum of tuple elements is:  30

In [17]:
#11

import math

my_dict = {
    
    'Square': lambda x: x**2,
    
    'Cube': lambda x: x**3,
    
    'SquareRoot': lambda x: math.sqrt(x)
}


num1 = float(input("Enter a number: "))

num2 = float(input("Enter another number: "))

result = my_dict['Square'](num1) + my_dict['Cube'](num1) + my_dict['SquareRoot'](num2)

print("The sum of the outputs is:", result)

Enter a number: 10
Enter another number: 20
The sum of the outputs is: 1104.4721359549997

In [63]:
#12

listElements = ["hello", "Dear", "hOw", "ARe", "You"]

tempList = []

for word in listElements:
    
        if word[1].isupper() and len(word) >= 2:
            
            tempList.append(word)


print("Elements from the list with 2nd letter UpperCase: ", tempList)

Elements from the list with 2nd letter UpperCase:  ['hOw', 'ARe']

In [3]:
#13

WeightsOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}

GMoon = 1.622

GEarth = 9.81

WeightOnMoon = {}

for name, weight in WeightsOnEarth.items():
    
    weight_on_moon = (weight * GMoon) / GEarth
    
    WeightOnMoon[name] = weight_on_moon

for name, weight_moon in WeightOnMoon.items():
    
    print(f"{name}'s weight on the moon is: {weight_moon:.2f} kg")

John's weight on the moon is: 7.44 kg
Shelly's weight on the moon is: 10.75 kg
Marry's weight on the moon is: 5.79 kg

# Control Structures:

In [71]:
#1

def primeCheck(num):
    
    if num <= 1:
        
        return False
    
    for i in range(2, int(num ** 0.5) + 1):
        
        if num % i == 0:
            
            return False
        
    return True

def firstNPrimes(n):
    
    primes = []
    
    num = 2
    
    while len(primes) < n:
        
        if primeCheck(num):
            
            primes.append(num)
            
        num += 1
        
    return primes


userInput = int(input("Enter a number to print Prime Numbers up to that limit: "))

prime_numbers = firstNPrimes(userInput)

print("The first", userInput, "Prime Numbers are:")

for resultPrime in prime_numbers:
    
    print(resultPrime)

Enter a number to print Prime Numbers up to that limit: 4
The first 4 Prime Numbers are:
2
3
5
7

In [20]:
#2


emp_basic_salary = float(input("Enter the Basic Salary: "))

emp_hra = float(input("Enter HRA: "))

emp_ta = float(input("Enter TA: "))

emp_da = float(input("Enter DA: "))


emp_gross_salary = emp_basic_salary + emp_hra + emp_ta + emp_da

initial_tax = 0.1 * emp_gross_salary

net_salary = emp_gross_salary - initial_tax

print(f"Gross Salary: {emp_gross_salary:.2f}")

print(f"Tax: {initial_tax:.2f}")

print(f"Net Salary: {net_salary:.2f}")

Enter the Basic Salary: 40000
Enter HRA: 20
Enter TA: 20
Enter DA: 10
Gross Salary: 40050.00
Tax: 4005.00
Net Salary: 36045.00

In [90]:
#3

userList2 = ["Anime", "Movies", "Music", "Painting", "Crafts"]

userString = str(input("Enter a string to search from the list: "))

if userString in userList2:
    
    
    print(f"{userString} is found in the list at position: {userList2.index(userString)}")
    
else:
    
    print(userString, " is not found in the list.")

Enter a string to search from the list: Painting
Painting is found in the list at position: 3

In [107]:
#4

def upper_and_lower_case_check(string):
    
    tempUpperCase = 0
    
    tempLowerCase = 0

    for char in string:
        
        if char.isupper():
            
            tempUpperCase = tempUpperCase + 1
            
        elif char.islower():
            
            tempLowerCase = tempLowerCase + 1

    return tempUpperCase, tempLowerCase

userString3 = str(input("Enter a sentence to count for Uppercase and Lowercase letters: "))

uppercaseCount, lowercaseCount = upper_and_lower_case_check(userString3)

print(f"Number of UpperCase Letters are: {uppercaseCount}\nNumber of LowerCase Letters are: {lowercaseCount}")

Enter a sentence to count for Uppercase and Lowercase letters: PYTHon
Number of UpperCase Letters are: 4
Number of LowerCase Letters are: 2

In [128]:
#5


tempEvenSum = 0

tempOddSum = 0


for number in range(12, 38):
    
    if number % 2 == 0:
        
        tempEvenSum += number
        
    
    else:
        
        tempOddSum += number


print("The Sum of EVEN numbers between 12-37 is:", tempEvenSum)

print("The Sum of ODD numbers between 12-37 is:", tempOddSum)

The Sum of EVEN numbers between 12-37 is: 312
The Sum of ODD numbers between 12-37 is: 325

In [133]:
#6

userTableNum = int(input("Enter a number to print its Multiplication Table: "))

for i in range(1, 11):
    
    multiples = userTableNum * i
    
    print(userTableNum ,"x", i, "=", multiples)

Enter a number to print its Multiplication Table: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [144]:
#7

def primeCheck(n):
    
    if n <= 1:
        
        return False
    
    for i in range(2, int(n ** 0.5) + 1):
        
        if n % i == 0:
            
            return False
    
    return True

primesSum = 0

count = 0

num = 2

listPrimeNumbers = []

while count < 10:
    
    if primeCheck(num):
        
        primesSum += num
        
        listPrimeNumbers.append(num)
        
        count += 1
    
    num += 1

print(f"The Sum of the first 10 {listPrimeNumbers} prime numbers is:", primesSum)

The Sum of the first 10 [2, 3, 5, 7, 11, 13, 17, 19, 23, 29] prime numbers is: 129

In [150]:
#8

userInputNum1 = float(input("Enter 1st number: "))

userInputNum2 = float(input("Enter 2nd number: "))

arithmeticOP = input("Choose one Arithmetic Operator (+, -, *, /): ")


if arithmeticOP == "+":
    
    result = userInputNum1 + userInputNum2
    
elif arithmeticOP == "-":
    
    result = userInputNum1 - userInputNum2
    
elif arithmeticOP == "*":
    
    result = userInputNum1 * userInputNum2
    
elif arithmeticOP == "/":
    
    if userInputNum2 != 0:
        
        result = userInputNum1 / userInputNum2
        
    else:
        
        result = "Error: Division by zero!"
        
else:
    
    result = "Error: Invalid operator!"

print("Result:", result)

Enter 1st number: 10
Enter 2nd number: 2
Choose one Arithmetic Operator (+, -, *, /): /
Result: 5.0

In [156]:
#9

inputCelsius = float(input("Enter the temperature in Celsius: "))

resultFahrenheit = (inputCelsius * 9/5) + 32

print("Converted temperature of",inputCelsius, "C", "into Fahrenheit is:", resultFahrenheit)

Enter the temperature in Celsius: 100
Converted temperature of 100.0 C into Fahrenheit is: 212.0

In [159]:
#10

list10 = [5, 20, 4, 36, 45, 15]


listMaxValue = list10[0]

listMinValue = list10[0]

for number in list10:
    
    if number > listMaxValue:
        
        listMaxValue = number
        
    if number < listMinValue:
        
        listMinValue = number

print("The Maximum value from list is: ", listMaxValue)

print("The Minimum value from list is: ", listMinValue)

The Maximum value from list is:  45
The Minimum value from list is:  4

In [163]:
#11

days = 30

hours = 24

minutes = 60

seconds = 60

totalSecondsInMonth = days * hours * minutes * seconds

print("Number of Seconds in a 30-day month is: ", totalSecondsInMonth,'seconds')

Number of Seconds in a 30-day month is:  2592000 seconds

In [168]:
#12

days = 365 #Regular Year (For Leap Year :- 366)

hours = 24

minutes = 60

seconds = 60

totalSecondsInYear = days * hours * minutes * seconds

print("Number of seconds in a year (365 days) is: ",totalSecondsInYear,"seconds")

Number of seconds in a year (365 days) is:  31536000 seconds

In [174]:
#13

initialDistance = 414  # miles

avgSpeed = 150  # mph

timeInHours = initialDistance / avgSpeed

inHours = int(timeInHours)

inMinutes = int((timeInHours - inHours) * 60)

print("Time it took to travel from London to Glasgow is:", inHours ,"hours and", inMinutes, "minutes")

Time it took to travel from London to Glasgow is: 2 hours and 45 minutes

In [179]:
#14

days_in_each_school_year = 192

hours_per_day = 6

# From 7 to 11 year => ( 11 - 7 + 1 = 5 )

total_hours_in_school_year = (days_in_each_school_year * 5) * hours_per_day

print("Total amount of hours spent in school from 7 - 11 year is: ", total_hours_in_school_year, "hours")

Total amount of hours spent in school from 7 - 11 year is:  5760 hours

In [185]:
#15

ram_age = int(input("Enter Age for Ram: "))

sam_age = int(input("Enter Age for Sam: "))

khan_age = int(input("Enter Age for khan: "))

age_List = [ram_age, sam_age, khan_age]

print("Youngest Age among Ram, Sam, Khan is: ", min(age_List))

print("Eldest Age among Ram, Sam, Khan is: ", max(age_List))

Enter Age for Ram: 20
Enter Age for Sam: 30
Enter Age for khan: 21
Youngest Age among Ram, Sam, Khan is:  20
Eldest Age among Ram, Sam, Khan is:  30

In [4]:
#16

def rotate_list_without_slicing(lst, n):
    
    for _ in range(n):
        
        last_element = lst.pop()
        
        lst.insert(0, last_element)

my_list = [1, 2, 3, 4, 5]

n = 2

rotate_list_without_slicing(my_list, n)

print(my_list)

[4, 5, 1, 2, 3]

In [11]:
#17(i)

def print_pattern(n):
    
    for i in range(n):
        
        num = 1
        
        for j in range(i + 1):
            
            print(num, end=" ")
            
            num = num * (i - j) // (j + 1)
            
        print(end = '\n')

print_pattern(7)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [13]:
#17(ii)

def print_asterisk_pattern(n):
    
    for i in range(1, n + 1):
        
        for j in range(i):
            
            print("*", end=" ")
            
        print(end = '\n')

print_asterisk_pattern(5)

*
* *
* * *
* * * *
* * * * *

In [15]:
#17(iii)

def print_pattern(n):
    
    for i in range(1, n + 1):
        
        print(" " * (n - i) + "* " * i)

print_pattern(5)

    *
   * *
  * * *
 * * * *
* * * * *

In [16]:
#17(iv)

userWord = "Python"

for i in range(1, len(userWord) + 1):
    
    print(userWord[:i])

P
Py
Pyt
Pyth
Pytho
Python